<mat-card>
  <mat-card-title><h3>Patterns</h3></mat-card-title>
  <div class="right-flex">
    <button mat-flat-button color="primary" [routerLink]="['/pattern-edit']">Add pattern</button>
  </div>
</mat-card>
<mat-accordion *ngFor="let pattern of patterns | sortBy:'asc':'name'">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>{{pattern.name}}</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-subtitle>Constraint</mat-card-subtitle>
      <mat-card-content class="compliance-rule">{{pattern.pConstraint}}</mat-card-content>
      <div class="example-button-row">
        <button mat-stroked-button color="primary" [routerLink]="['/pattern-edit', pattern]" >Edit</button>
        <button mat-stroked-button color="warn" class="delete-button" (click)="remove(pattern)">Delete</button>
      </div>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
