<mat-card>
  <mat-card-title><h3>Patterns</h3></mat-card-title>
  <div class="right-flex">
    <button mat-flat-button color="primary" [routerLink]="['/pattern-add']">Add pattern</button>
  </div>
</mat-card>
<mat-accordion *ngFor="let pattern of patterns">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h4>{{pattern.name}}</h4>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card>
      <mat-card-subtitle>Constraint</mat-card-subtitle>
      <mat-card-content>{{pattern.pConstraint}}</mat-card-content>
      <div class="example-button-row">
        <button mat-stroked-button color="primary">Edit</button>
        <button mat-stroked-button color="primary">Remove</button>
      </div>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>
