<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">
        <layout>
            <pattern><![CDATA[ %d %p %t [%c] - <%m>%n ]]></pattern>
        </layout>
        <exchangeName>my-exchange</exchangeName>
        <host>localhost</host>
        <port>5672</port>
        <username>guest</username>
        <password>guest</password>
        <exchangeType>queue</exchangeType>
        <applicationId>AmqpAppenderTest</applicationId>
        <routingKeyPattern>logs-test</routingKeyPattern>
        <generateId>true</generateId>
        <charset>UTF-8</charset>
        <durable>false</durable>
        <deliveryMode>NON_PERSISTENT</deliveryMode>
    </appender>

    <!-- LOG everything at INFO level to console -->
    <root level="info">
        <appender-ref ref="Console" />
    </root>

    <!-- LOG everything from aspects to rabbitMQ -->
    <logger name="com.motivatingscenario.orderService.HomeController" level="info" additivity="false">
        <appender-ref ref="AMQP" />
    </logger>
</configuration>
