<mat-card>
  <mat-card-title>Monitor Settings</mat-card-title>
  <mat-card-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <span matTooltip="Application name">{{monitoringArea?.name}}</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span>
          <div *ngIf="monitoringArea">
            <mat-form-field class="example-full-width">
              <input name="queue-url" matInput
                     placeholder="Queue URL" [value]="monitoringArea.queueUrl" [(ngModel)]="monitoringArea.queueUrl">
            </mat-form-field>
          </div>
        </span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <mat-card-actions class="right-flex">
          <button mat-stroked-button color="primary" (click)="startMonitoring()"
                  matTooltip="Start monitoring the pattern instances">
            <mat-icon>desktop_windows</mat-icon> Start Monitor
          </button>
          <button mat-stroked-button color="primary" (click)="updateMonitoringArea()"
                  matTooltip="Update changes made in pattern instances and queue URL">
            <mat-icon>update</mat-icon> Update Monitor
          </button>
          <button mat-stroked-button color="primary" (click)="resetViolationsOfMonitoringArea()"
                  matTooltip="Reset all Violations">
            Reset Violations
          </button>
        </mat-card-actions>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-content>
</mat-card>

<mat-card class="card-pattern-list">
  <mat-card-title>Pattern Instances</mat-card-title>
  <mat-card-content>
    <mat-list>
      <div *ngFor="let patternInstance of monitoringArea?.patternInstances" class="pattern-instance-item">
        <mat-list-item>
          <div class="pattern-name">
            {{patternInstance.name}}
          </div>
          <mat-form-field *ngFor="let variable of patternInstance.variables; let index = index;" class="example-full-width">
            <input name="{{index}}" [(ngModel)]="variable.value" matInput [placeholder]="variable.key" [value]="variable.value">
          </mat-form-field>
          <div class="violationStatus">
            <p *ngIf="!patternInstance.isViolated" class="statusCompliant">compliant</p>
            <p *ngIf="patternInstance.isViolated" class="statusViolated">violated</p>
            <!--<span [ngClass]="{'violationStatusIconGreen': !patternInstance.isViolated, 'violationStatusIconRed': patternInstance.isViolated}"></span>-->
          </div>
          <div>
            <button mat-button (click)="deletePatternInstance(patternInstance)"
                    matTooltip="Delete pattern instance from this application">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>
    </mat-list>
  </mat-card-content>
  <div class="right-flex">
    <button class="add-button" mat-fab color="primary" (click)="openDialog()"
            matTooltip="Add another pattern instance to monitored application">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-card>



