.right-flex {
  display: flex; justify-content: flex-end;
}

.add-button {
  margin-right: 1%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.pattern-name {
  margin-right: 2%;
}

.pattern-instance-item{
  margin-top: 2%
}

.card-pattern-list{
  margin-top: 2%;
}


.violationStatusIconGreen {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.violationStatusIconRed {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.violationStatus{
  margin-left: 2%
}

.statusCompliant{
   color: green;
}

.statusViolated{
  color: red;
}
