.right-flex {
  display: flex; justify-content: flex-end;
}

.add-button {
  margin-right: 1%;
}

.mat-success {
  background-color: green;
  color: #fff;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.pattern-name {
  margin-right: 2%;
}

.horizontal-spaced-item{
  margin-top: 2%;
  padding-left: 5px;
}

.card-pattern-list{
  margin-top: 2%;
}

.violationStatusIconGreen {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}

.violationStatusIconRed {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.violationStatus{
  margin-left: 2%
}

.statusViolated{
  color: red;
  text-align: left;
  padding-left: 10px;
}

.statusCompliant{
  color: green;
  text-align: left;
  padding-left: 10px;
}

.example-container {
  position: absolute;
  left: 5px;
}

.small-text {
  font-size: small;
}

.input-cls {
  margin-left: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.info-text {
  font-size: 70%;
  margin-left: 5%;
}
