<mat-card>
  <mat-card-title>Monitor Settings</mat-card-title>
  <mat-card-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <span matTooltip="Application name">{{monitoringArea?.name}}</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span>
          <div *ngIf="monitoringArea">
            <mat-form-field class="example-full-width">
              <input name="queue-url" matInput
                     placeholder="Queue Host" [value]="monitoringArea.queueHost" [(ngModel)]="monitoringArea.queueHost">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input name="queue-url" matInput
                     placeholder="Queue Name" [value]="monitoringArea.queueName" [(ngModel)]="monitoringArea.queueName">
            </mat-form-field>
          </div>
        </span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <mat-card-actions class="right-flex">
          <button *ngIf="!monitoringArea.isActive" mat-stroked-button color="primary" (click)="startMonitoring()"
                  matTooltip="Start monitoring the pattern instances">
            <mat-icon>desktop_windows</mat-icon> Start Monitor
          </button>
          <button *ngIf="monitoringArea.isActive" mat-stroked-button color="primary" (click)="stopMonitoring()"
                  matTooltip="Start monitoring the pattern instances">
            <mat-icon>desktop_windows</mat-icon> Stop Monitor
          </button>
          <button mat-stroked-button color="primary" (click)="updateMonitoringArea()"
                  matTooltip="Update changes made in pattern instances and queue URL">
            <mat-icon>update</mat-icon> Update Monitor
          </button>
          <button mat-stroked-button color="primary" (click)="resetViolationsOfMonitoringArea()"
                  matTooltip="Reset all Violations">
            Reset Violations
          </button>
        </mat-card-actions>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-content>
</mat-card>

<mat-card class="card-pattern-list">
  <mat-card-title>Pattern Instances</mat-card-title>
    <mat-card-content>
      <mat-list *ngFor="let patternInstance of monitoringArea?.patternInstances" class="pattern-instance-item">
        <mat-toolbar>
          <mat-toolbar-row>
            <span>
              <h1 *ngIf="!patternInstance.isViolated" class="statusCompliant" matTooltip="Pattern is compliant">{{patternInstance.name}}</h1>
              <h1 *ngIf="patternInstance.isViolated" class="statusViolated" matTooltip="Pattern is violated">{{patternInstance.name}}<mat-icon>warning</mat-icon></h1>
              <!--<span [ngClass]="{'violationStatusIconGreen': !patternInstance.isViolated, 'violationStatusIconRed': patternInstance.isViolated}"></span>-->
            </span>
          </mat-toolbar-row>
          <mat-toolbar-row class="small-text">
            <span>
              <mat-form-field matLine *ngFor="let variable of patternInstance.variables; let index = index;" class="input-cls">
                <input name="{{index}}" [(ngModel)]="variable.value" matInput [placeholder]="variable.key" [value]="variable.value">
              </mat-form-field>
            </span>
            <span class="spacer"></span>
            <span class="delete-btn">
              <button mat-button (click)="deletePatternInstance(patternInstance)"
                      matTooltip="Remove {{patternInstance.name}} from this application">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </mat-toolbar-row>
        </mat-toolbar>
      </mat-list>
  </mat-card-content>
  <div class="right-flex">
    <button class="add-button" mat-fab color="primary" (click)="openDialog()"
            matTooltip="Add another pattern instance to monitored application">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-card>



