<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventory-Service</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
    <div class="container" id="container">
        <div class="input-group-lg center-block helloInput">
            <p class="lead">Inventory-Service</p>
            <button type="button" id="sendRequest" class="btn btn-primary">Send Request To Shipping-Service</button>
        </div>
        <div class="failure-count">
            Consecutive Failure: <p id="count"></p>
        </div>
        <p id="response"  style="margin-top: 2%"></p>
        <div id="snackbar"></div>
    </div>
</body>


</html>


<script>
    var failureCount = 0;
     function showSnackbar() {
        var x = document.getElementById("snackbar");
        x.className = "show";
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }
        $('#sendRequest').click(function(e) {
                $.ajax({
				  method: "POST",
				  url: "./sendRequest",
				  contentType: "application/json",
				  data: JSON.stringify({senderId: "Shipping-Service"})
                }).done(function(data) {
                    if(data){
                        $('#snackbar').html(data.response);
                        $('#count').html(data.failureCount);
                        showSnackbar();
                    }
                })
            });
</script>